/* style */
body {
    color: #303030;
    padding: 0;
    margin: 0;
    font-family: 'Vollkorn', serif;
    font-size: 14pt;
    overflow: hidden;
}

#header h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Tangerine', cursive;
    font-size: 3.75em;
    font-weight: 700;
    color: #dddddd;
}

#menu-bar {
    background-color: #303030;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.menu-items {
    list-style-type: none;
    margin-left: -20px;
}

ul.menu-items li {
    display: inline;
    font-size: 24px;
    margin: 0px 1.75em 0px 0px;
}

ul.menu-items li a {
    color: #FFF666;
    text-decoration: none;
}

ul.menu-items li a:hover {
    color: #FFF666;
    text-decoration: underline;
}

/* structure */

#wrap {
    background-color: #ffffee;
}

#left-side {
    background-color: #303030;
    overflow: hidden;
    width: 528px;
    height: 100%;
}

.right-side-margin {
    margin-left: 20px;
}

#right-div {
    position: absolute;
    left: 528px;
    top: 0px;
    right: 0px;
}

#header {
    background-color: #444444;
}

#content {
    margin: 20px;
}

img.kissing-image {
    margin: 20px;
}
