/* style */
body {
    color: #303030;
    padding: 0;
    margin: 0;
}

#header h1 {
    margin: 0;
    padding-top: 10px;
    font-family: 'Tangerine', cursive;
    font-size: 52pt;
}

#menu-bar {
    background-color: #303030;
    height: 80px;
}

ul.menu-items {
    list-style-type: none;
    margin: 0 0 0 20px;
    padding: 17 0 0 0px;
}

ul.menu-items li {
    display: inline;
    font-family: 'Vollkorn', serif;
    font-size: 32px;
    margin: 0 20 0 0px;
}

ul.menu-items li a {
    color: #FFF666;
    text-decoration: none;
}

ul.menu-items li a:hover {
    color: #FFF666;
    text-decoration: underline;
}

/* structure */
#left-side {
    background-color: #303030;
    overflow: hidden;
    width: 528px;
    height: 100%;
}

#right-side {
    position: absolute;
    left: 528px;
    top: 0px;
    right: 0px;
}

#header {
    margin-left: 20px;
}

#content {
    margin: 20 0 0 20px;
}

img.kissing-image {
    margin: 20px;
}
