body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #1c1c1c;
    margin: 0px;
}

#grid-wrap {
    height: 100%;
    width: 100%;
    position: relative;
    margin: auto;
    max-height: 1575px;
    max-width: 2455px;
}

div.grid-image {
    position: absolute;
    width: 25%;
    height: 50%;
    overflow: hidden;
    box-sizing: border-box;
    background-position: 50% 50%;
    background-size: cover;
}

div.row0 {
    top: 0;
    border-bottom: 5px #1c1c1c solid;
}

div.row1 {
    top: 50%;
    border-top: 5px #1c1c1c solid;
}

div.col0 {
    left: 0;
    border-right: 5px #1c1c1c solid;
}

div.col1 {
    left: 25%;
    border-left: 5px #1c1c1c solid;
    border-right: 5px #1c1c1c solid;
}

div.col2 {
    left: 50%;
    border-left: 5px #1c1c1c solid;
    border-right: 5px #1c1c1c solid;
}

div.col3 {
    left: 75%;
    border-left: 5px #1c1c1c solid;
}

#center-medallion {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    width: 600px;
    height: 600px;
    background-image: url("/static/images/Diamond-knot.png");
    pointer-events: none;
}

#medallion-image {
    width: 700px;
    height: 700px;
    position: absolute;
    left:50%;
    font-size: 28px;
}

#date-div {
    margin-left: 235px;
    margin-top: 140px;
    font-family: 'Josefin Sans', sans-serif;
}

#date-div h1 {
    color: #f9f1dc;
    font-size:34px;
}

#date-div img {
    margin-left: -18;
    margin-top: -30;
}

#david {
    margin-left: 75px;
}

#emillie {
    margin-left: 345px;
}

.medallian-name {
    margin-top: -60px;
    position: absolute;
    top: 50%;
    font-family: 'Limelight', cursive;
    font-size: 24px;
    color: #333333;
}

.modal {
    width: 70%;
    height: 800px; /* makes it much easier to describe heights of things inside */
    position: absolute;
    left: 15%;
    top: calc(50% - 400px);
    z-index: 100;
    opacity: 0.0;
    z-index: 0;

    background-color: #1c1c1c;
    color: white; /* FIXME */

    border-radius: 7px;
    box-shadow: 6px 11px 13px #1c1c1c;
}

.modal-body {
    position: absolute;
    top: 0px;
    width: 98%;
    height: 98%;
    margin: 1%;
    overflow: auto;
}

.modal-close, .modal-title {
    margin: 7px;
}

.modal-title {
    /* float: left; */
    font-weight: bold;
    font-family: 'Tangerine', cursive;
    font-size: 100px;
    position: relative;
    top: -75px;
    left: -20px;
    color: #edd13b;
    text-shadow: 5px 5px 10px #1c1c1c;
}

.modal-close {
    float: right;
}

.modal-close a {
    text-decoration: none;
    color: white; /* FIXME */
}

p.modal-text {
    margin-top:28px;
}

iframe.map {
    position: absolute;
    top: 18%;
    height: 81%;
    width: 100%;
}

.grid-off .grid-title {
    opacity: 0.2;
}

h2.grid-title {
    position: absolute;
    color: #f9f1dc;
    font-family: 'Limelight', cursive;
    font-size: 28pt;
    text-shadow: 1px 1px 0 #1c1c1c,
		 -1px -1px 0 #1c1c1c,
		 1px -1px 0 #1c1c1c,
		 -1px 1px 0 #1c1c1c,
		 3px 3px 5px #333;
}

h2.grid-title-row-0 {
    top: 10px;
    left: 20px;
}

h2.grid-title-row-1 {
    bottom: 10px;
    right: 20px;
}
