body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #1c1c1c;
    margin: 0px;
}

a {
    color: #edd13b;
}

a:hover {
    color: #fff24c;
}

h2 {
    color: #edd13b;
}

#grid-wrap {
    height: 100%;
    width: 100%;
    position: relative;
    margin: auto;
    max-height: 1575px;
    max-width: 2455px;
}

div.grid-image {
    position: absolute;
    width: 25%;
    height: 50%;
    overflow: hidden;
    box-sizing: border-box;
    background-position: 50% 50%;
    background-size: cover;
}

div.row0 {
    top: 0;
    border-bottom: 5px #1c1c1c solid;
}

div.row1 {
    top: 50%;
    border-top: 5px #1c1c1c solid;
}

div.col0 {
    left: 0;
    border-right: 5px #1c1c1c solid;
}

div.col1 {
    left: 25%;
    border-left: 5px #1c1c1c solid;
    border-right: 5px #1c1c1c solid;
}

div.col2 {
    left: 50%;
    border-left: 5px #1c1c1c solid;
    border-right: 5px #1c1c1c solid;
}

div.col3 {
    left: 75%;
    border-left: 5px #1c1c1c solid;
}

#center-medallion {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    width: 600px;
    height: 600px;
    background-image: url("/static/images/Diamond-knot-star-burst.png");
    pointer-events: none;
}

#medallion-image {
    width: 700px;
    height: 700px;
    position: absolute;
    left:50%;
    font-size: 28px;
}

#date-div {
    margin-left: 185px;
    margin-top: 134px;
    font-family: 'Josefin Sans', sans-serif;
}

#date-div h1 {
    color: #f9f1dc;
    font-size:58px;
}

#date-div img {
    margin-left: -18;
    margin-top: -30;
}

#david {
    margin-left: 58px;
}

#david-h1 {
    margin-left: 20px;
}

#emillie-h1 {
    margin-left: 15px;
}

#emillie {
    margin-left: 325px;
}

.medallian-name {
    margin-top: -106px;
    margin-left: 30px;
    position: absolute;
    top: 50%;
    font-family: 'Zakia';
    font-size: 33px;
    color: #333333;
}
.name-underline {
    margin-top: -75px;
    width: 235px;
    margin-left: -25px;
}

.modal {
    width: 70%;
    height: 75%;
    position: absolute;
    left: 15%;
    top: calc(50% - 300px);
    z-index: 100;
    opacity: 0.0;
    z-index: 0;

    background-color: #1c1c1c;
    color: white; /* FIXME */

    border-radius: 7px;
    box-shadow: 6px 11px 13px #1c1c1c;
}

.modal-body {
    position: absolute;
    top: 0px;
    width: 98%;
    height: 98%;
    margin: 1%;
    overflow: auto;
}

.modal-close, .modal-title {
    margin: 7px;
}

.modal-title {
    /* float: left; */
    font-weight: bold;
    font-family: 'Zakia';
    font-size: 90px;
    position: relative;
    top: -120px;
    left: 20px;
    color: #edd13b;
    text-shadow: 5px 5px 10px #1c1c1c;
}

.modal-close {
    float: right;
}

.modal-close a {
    text-decoration: none;
    color: white; /* FIXME */
}

p.modal-text {
    margin-top:28px;
}

iframe.map {
    position: relative;
    top: 0%;
    height: 81%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 6%;
}

.grid-off .grid-title {
    opacity: 0.2;
}

h2.grid-title {
    position: absolute;
    color: #f9f1dc;
    font-family: 'Limelight', cursive;
    font-size: 28pt;
    text-shadow: 1px 1px 0 #1c1c1c,
                 -1px -1px 0 #1c1c1c,
                 1px -1px 0 #1c1c1c,
                 -1px 1px 0 #1c1c1c,
                 3px 3px 5px #333;
}

h2.grid-title-row-0 {
    top: 10px;
    left: 20px;
}

h2.grid-title-row-1 {
    bottom: 10px;
    right: 20px;
}

/* photo stuff */
#photo-modal-text {
    height: 140px;
}

#photo-modal-widgets {
    height: calc(100% - 165px - 35px); /* all space, minus space from top, minus space for footer */
    width: 100%;
    top: 165px;
    position: absolute;
}

#forward-photo, #backward-photo {
    display: inline;
    margin: 0px;
    color: #edd13b;
}

#photo-img-footer {
    position: relative;
    margin-top: 10px;
    height: 25px;
}

#photo-img-buttons-wrap {
    width: 100%;
    text-align: center;
    position: absolute;
}

#photo-counter {
    position: absolute;
    right: 0px;
}

#upload-photo-form {
    position: absolute;
}

#photo_file {
    width: 250px;
}

#form-wrap {
    position: relative;
    max-width: 350px;
}

#upload-progress-indicator {
    position: absolute;
    display: none;
    right: 0px;
}

#photo-img {
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
}

#photo-img-wrap {
    background-color: black;
    height: 100%;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: 'Zakia';
    src: url('/static/fonts/zakia-webfont.ttf') format('truetype');
}
