body {
    overflow: hidden;
}

div.grid-image {
    position: absolute;
    width: 25%;
    height: 50%;
    overflow: hidden;
    box-sizing: border-box;
}

div.row0 {
    top: 0;
    border-bottom: 5px #1c1c1c solid;
}

div.row1 {
    top: 50%;
    border-top: 5px #1c1c1c solid;
}

div.col0 {
    left: 0;
    border-right: 5px #1c1c1c solid;
}

div.col1 {
    left: 25%;
    border-left: 5px #1c1c1c solid;
    border-right: 5px #1c1c1c solid;
}

div.col2 {
    left: 50%;
    border-left: 5px #1c1c1c solid;
    border-right: 5px #1c1c1c solid;
}

div.col3 {
    left: 75%;
    border-left: 5px #1c1c1c solid;
}

#center-medallion {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    width: 600px;
    height: 600px;
    background-image: url(/static/images/Diamond.png)
}

#medallion-image {
    width: 700px;
    height: 700px;
}

#david {
    margin-left: 75px;
}

#emillie {
    margin-left: 345px;
}

.medallian-name {
    margin-top: -60px;
    position: absolute;
    top: 50%;
    font-family: 'Limelight', cursive;
    font-size: 24px;
    color: #333333;
}
